{% extends 'main.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <h1>
                 &ensp; О нас:
            </h1>
            <h4>
                Имидж - магазин верхней одежды.
            </h4>
            <h4>
                Мы предлагаем широкий ассортимент кожаных и меховых изделий, дубленок, пуховиков и пальто,
                а также аксессуаров и головных уборов для мужчин и женщин, которые можно купить, посетив наш магазин в городе Липецк.
            </h4>
            <h4>
                Вы можете ознакомиться с частью нашего асортимента на нашем сайте или посетить наш магазин по адресу: Россия, Липецк, ул. Петра Смородина 13а, ТЦ "Армада", 1 этаж
            </h4>
            <h1>&ensp;Фото:</h1>
            {% include "simple_pages/photo_slides.html" %}
        </div>
    </div>
{% endblock %}