<footer class="footer">
    <div class="container foot">
            <div class="col-lg-4">
                <h1>Имидж</h1>
            </div>
            <div class="col-lg-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2423.9439345846995!2d39.53367411581002!3d52.58870687982733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4807561ee09901a0!2z0JjQvNC40LTQtiwg0LzQsNCz0LDQt9C40L0g0LrQvtC20Lgg0Lgg0LzQtdGF0LAu!5e0!3m2!1sru!2sus!4v1492627184910" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-4">
                <h4>Наши контакты</h4>
                <h5>Адрес:</h5>
                <p>Россия, Липецк, ул. Петра Смородина 13а, ТЦ "Армада", 1 этаж </p>
                <h5>Телефон:</h5>
                <p>8 (906) 594-93-41</p>
                <h5>E-mail:</h5>
                <p>kaletvintsev@gmail.com</p>
            </div>

    </div>

</footer>