{% load staticfiles %}
<div class="container">
    <div class="row">
{#        <h1>Имидж</h1>#}
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                        <span class="sr-only">Открыть навигацию</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">Имидж</a>
                </div>
                <div class="collapse navbar-collapse" id="responsive-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Главная</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Категории товаров <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Дубленки</a></li>
                                <li><a href="#">Плащи</a></li>
                                <li><a href="#">Куртки</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">О нас</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>





{#<nav class="navbar navbar-inverse navbar-fixed-top">#}
{#  <div class="container-fluid">#}
{#    <div class="navbar-header">#}
{#      <a class="navbar-brand" href="#">Имидж</a>#}
{#    </div>#}
{#    <ul class="nav navbar-nav">#}
{#      <li class="active"><a href="#">Главная</a></li>#}
{#      <li><a href="#">Категории товаров</a></li>#}
{#      <li><a href="#">Акции</a></li>#}
{#      <li><a href="#">О нас</a></li>#}
{#    </ul>#}
{#  </div>#}
{#</nav>#}