<div class="col-lg-3">
    <div class="product-item">
        <div class="span4 center-block">
            <a href="{% url 'product' product_image.product.id %}">
                <img src="{{ product_image.image.url }}" class="img-responsive">
            </a>
        </div>

        {% if product_image.product.discount %}
            <div class="discount-container">
                <span>{{ product_image.product.discount }}%</span>
            </div>
        {% endif %}
        <div class="description">
             <h4 class="product-name">{{ product_image.product.name }}</h4>
            <p class="product-description">
                {{ product_image.product.short_description }}
            </p>
            <div class="priece">
                {{ product_image.product.price }} RUB
            </div>
            <div class="inf-btn">
                <button class="btn btn-black btn-group-justified">
                    Узнать больше
                </button>
            </div>
        </div>

    </div>
</div>