.wrapper-content{
    background-color: #f4f7f6;
    padding-bottom: 20px;
}

.container .row{
    margin-top: 50px;
}

body{
    /*font-family: 'Cuprum', sans-serif;*/
    font-family: 'Fira Sans Condensed', sans-serif;
}

/*Навбар*/

.navbar-default{
    background-color: #f4f7f6;
}



/*Кнопки*/

.btn-black {
    background-color:#fcfcfc;
    color:#bdc1c0;
    border-color:#bdc1c0;
}
.btn-black:hover, .btn-black:focus {
    background-color: #BDBDBC;
    color: white;
}
.btn-black:active {
    background-color: #BDBDBC;
    color: white;
}


/*карточки товаров*/

.description{
    margin-left: 7px;
    margin-right: 7px;
}

.product-item {
    background-color: #fcfcfc ;
    height: 625px;
    border: 2px solid #e6eaea ;
    border-radius: 5px;
    position: relative;

}

.span4{
    width: 95%;
    margin-top: 5px;
    border: 3px solid #e6eaea ;
    border-radius: 5px;
}


.product-description{
     height: 120px;
}

.priece{
    margin-left: 22%;
    font-size: 20pt;
}


.discount{
    background-color: crimson;
    color: white;
    position: absolute;
    margin-top: -175px;
    font-size: 150%;

}
.inf-btn{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

/*Страница продукта*/
.card{
    background-color: white;
    height: 100%;
    border: 3px solid #e6eaea ;
    border-radius: 5px;

}

.size{
    color: black;
}

.hero-unit{
    border: 3px solid #e6eaea ;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.inform{
    padding-left: 20px;
}


.photos{
    border: 3px solid #e6eaea ;
    border-radius: 5px;
    margin-bottom: 15px;
}
/*footer*/

.footer{
    border-top: solid;
    border-top-color: #e6eaea;
    border-top-width: 3px;
    padding-top: 15px;
}
.foot{
    padding-top: 3px;

}


